In [ ]:
# Tutorial source: https://github.com/royalosyin/Practice-SQL-with-SQLite-and-Jupyter-Notebook/tree/master

Install sqlite on ubunut: `sudo apt install sqlite3`

SQLite3 is a powerful command-line interface for interacting with SQLite databases. Here are the top 10 `dot` commands frequently used in the SQLite3 CLI:

0. `sqlite3 your_database_name.db` this command creates a database
1. `.help`: Displays a list of available dot commands.
2. `.open <database>`: Opens a connection to the specified SQLite database.
3. `.tables`: Lists all tables in the currently opened database.
4. `.schema <table>`: Displays the schema for the specified table.
5. `.header on|off`: Turns column headers on or off for query results.
6. `.mode <mode>`: Sets the display mode for query results (e.g., `column`, `list`, `html`, etc.).
7. `.exit` or `.quit`: Exits the SQLite3 CLI.
8. `.backup <filename>`: Creates a backup of the current database to the specified file.
9. `.restore <filename>`: Restores a database from the specified backup file.
10. `.timeout <milliseconds>`: Sets the query timeout in milliseconds.

These are some of the most commonly used dot commands in SQLite3 CLI, but there are more available for various tasks and configurations. You can always use `.help` to get a comprehensive list of available dot commands and their descriptions.

In [1]:
import os

# Specify the directory path
directory = 'data'

# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)
    print(f"Directory '{directory}' created successfully.")
else:
    print(f"Directory '{directory}' already exists.")

# Set write permissions for all users
os.chmod(directory, 0o777)

Directory 'data' created successfully.

In [2]:
# Die %pip install ipython-sql Anweisung ist eine sogenannte "Magic Command" in Jupyter Notebooks. Diese spezielle Syntax ermöglicht es Ihnen, Pakete direkt innerhalb des Notebooks zu installieren, ohne die Shell oder die Befehlszeile verlassen zu müssen.
# %pip install ipython-sql die Installation des Pakets ipython-sql durch, das eine SQL-Magic-Erweiterung für IPython bereitstellt. Diese Erweiterung ermöglicht es Ihnen, SQL-Code in den Zellen Ihres Notebooks auszuführen und direkt mit Datenbanken zu interagieren, 
# Kernel Restart: When you restart the Jupyter Notebook kernel (either manually or due to an error), the Python environment associated with the kernel is reset. Any packages installed during the previous session are not persisted.
%pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython-sql) (8.24.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Die %load_ext sql Anweisung in Jupyter Notebooks lädt das IPython SQL-Erweiterungsmodul. Dies ermöglicht es, SQL-Code in den Zellen des Notebooks auszuführen und direkt mit Datenbanken zu interagieren.
%load_ext sql

In [4]:
import os

# Get the current working directory
current_directory = os.getcwd()

# Construct the SQLite database URL
database_url = f"sqlite:///{current_directory}/data/writers.db3"

# Connect to the SQLite database
%sql $database_url

In [5]:
%%sql sqlite://
CREATE TABLE writer(
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,  
    USERID int  NOT NULL UNIQUE, 
    PRIMARY KEY (USERID)
);

Done.

[]

In [6]:
%%sql 
select * from writer

 * sqlite:////Users/tarasowski/Coding/projects/techstarter-24-04-on/module-1/python/data/writers.db3
Done.

[]

In [7]:
%%sql sqlite://
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Lin', 'Han', 1996);
INSERT INTO writer VALUES ('Peter', 'Brecht', 1978);

1 rows affected.
1 rows affected.
1 rows affected.

[]

In [8]:
%%sql 
select * from writer

 * sqlite:////Users/tarasowski/Coding/projects/techstarter-24-04-on/module-1/python/data/writers.db3
Done.

[('William', 'Shakespeare', 1616),
 ('Lin', 'Han', 1996),
 ('Peter', 'Brecht', 1978)]